.signUp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}
.signUp form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.signUp input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.signUp button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.signUp button:hover {
  background-color: #218838;
} 

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}
.login form {
  display: flex;
  flex-direction: column;
  width: 300px;    
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.login input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login button {
  padding: 10px;
  background-color: #007bff;      
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login button:hover {
  background-color: #0069d9;
}

.OTPgenerate{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.OTPgenerate form {
  display: flex;
  flex-direction: column;
  width: 300px;    
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.OTPgenerate input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.OTPgenerate button {
  padding: 10px;
  background-color: #007bff;      
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.OTPgenerate button:hover {
  background-color: #0069d9;
}

.VerifyOTP{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}
.VerifyOTP form {
  display: flex;
  flex-direction: column;
  width: 300px;    
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.VerifyOTP input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.VerifyOTP button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.VerifyOTP button:hover {
  background-color: #0069d9;
}